<nav class="navbar">
  <span class="brand">Student Course Portal</span>
  <ul>
    <li><a routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="/enroll" routerLinkActive="active">Enroll</a></li>
    <li><a routerLink="/enroll-reactive" routerLinkActive="active">Reactive Form</a></li>
  </ul>
</nav>